@font-face {
    font-family: "domo";
    src: url('../font/master_of_break.ttf');
}

@font-face {
    font-family: "bebas";
    src: url('../font/BEBAS___.TTF');
}

.brand-logo{
  font-family: "domo", Helvetica, Arial, sans-serif;
  color: #1fd682 !important;
  margin-left: 1%;
}

.nav-wrapper{
  background-color: white;
}

li a{
  font-family: "bebas", Helvetica, Arial, sans-serif;
  color: #a8a8a8 !important;
}

i{
  color: #1fd682 !important;
}
